<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>Ron Lanzilotta - Software Developer</title>
  <!-- Description-->
  <meta name="description" content="Personal Portfolio Template">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">
  <!-- CSS vendors-->
  <link rel="stylesheet" href="css/bootstrap-custom.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/tiny-slider.css">
  <link rel="stylesheet" href="css/lity.min.css">
  <link rel="stylesheet" href="css/simplebar.min.css">
  <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="css/colors/main-darkgreen.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
  <link rel="stylesheet" href="css/custom.css">
</head>

<body class="theme-dark">
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div id="overlay-effect"></div>
  <!-- Navbar-->
  <nav class="navbar-expand-md navbar fixed-top" id="navbar"><a class="navbar-brand" data-scroll="" href="#home-area">
      <!-- Navbar Logo-->
    </a>
    <span class="navbar-menu ml-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button"><span class="btn-line"></span></span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!-- Home-->
  <section class="home-area element-cover-bg" id="home" style="background-image:url(img/adrien-olichon-RCAhiGJsUUE-unsplash.jpg)">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1 class="home-name">Ron <span>Lanzilotta</span></h1>
          <h4 class="cd-headline clip home-headline">I’m a <span class="cd-words-wrapper single-headline"><b class="is-visible">Software Developer</b><b>Problem Solver</b><b>Musician</b><b>Real Estate Agent</b><b>Software Engineer</b></span></h4>
        </div>
      </div>
    </div>
    <div class="fixed-wrapper">
      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li><a href="https://www.linkedin.com/in/ronlanzilotta/"><i class="icon ion-logo-linkedin"></i></a></li>
          <li><a href="https://github.com/RonLanzilotta"><i class="icon ion-logo-github"></i></a></li>
          <li><a href="https://www.instagram.com/lanzdev_/"><i class="icon ion-logo-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- About lightbox-->
  <div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">About Me</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="img/Headshot.png" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h6 class="content-title">I'm Ron Lanzilotta, a Software Developer and session musician with more than a decade of sales experience.  </h6>
                    <div class="content-description">
                      <p>For over a decade as a touring musician and real estate agent, I have thrived at creating my own professional environments from the ground up. I apply this enterprising foundation to devise modular solutions for real-world problems in my role as a software engineer.
                      <br>
                      <br>
                      My former work taught me to independently cultivate creative ideas and consider how they will fit into a broader project. For example, a musical idea is only as good as it relates to the rest of a song, a song only as good as it relates to the rest of an album, and an album only as good as it relates to an artist's broader ethos. As a software engineer, this has prepared me to work efficiently on my own, while being able to explain and advocate for my work in a team context. My strongest attributes, both personally and professionally are my ability to empathize with team members and to reflect on how my choices may affect them.
                      <br>
                      <br>
                      Software engineering offers an avenue to work on meaningful projects, at the edge of technology, from anywhere in the world, with people who inspire you. I firmly believe that these are the ingredients to a productive and fulfilling future and I am grateful to have the opportunity to pursue a lifetime of learning and growth.</p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Name:</span>
                          <p>Ron Lanzilotta</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="mailto:rLanzilotta1010@gmail.com">rLanzilotta1010@gmail.com</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Age:</span>
                          <p>31</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Home:</span>
                          <p>Brooklyn, NY</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center"><a class="btn content-download button-main button-scheme" href="https://docs.google.com/document/d/e/2PACX-1vRT8SxlHAfXrwGNfFFXhIm9fc09a_5Y2IXP82QcCA0Y1toJ33DadLua6v_g8xY7RgtbLJm029xu0uTd/pub" role="button">Download CV</a>
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="https://www.instagram.com/lanzdev_/"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/ronlanzilotta/"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/RonLanzilotta"><i class="icon ion-logo-github"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
  <!-- Resume lightbox-->
  <div class="lightbox-wrapper" id="resume" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">Resume</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Resume section-->
            <div class="resume-section single-section">
              <div class="row">
                <!-- Education part-->
                <div class="col-12 col-md-6">
                  <div class="col-block experience">
                    <h3 class="col-title">Experience</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Real Estate Agent</h5><span class="item-details">New York Moves Real Estate / June 2020 - PRESENT</span>
                      <p class="item-description">12 years experience in fast-paced urban rentals, suburban home sales at a national brokerage, and assisting on the sales of large commercial portfolios.
                      <br>
                      <br>
                      Achieved $219,000 in gross receivable commissions during 16 months at NY Moves even during the peak of the pandemic.
                      <br>
                      <br>
                      Expertise in lead procurement, property identification, building management liaison, and end-to-end deal handling.</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Event Production</h5><span class="item-details">Pinpoint Productions / July 2017 - April 2018</span>
                      <p class="item-description">Organized and executed multiple national hyperlocal grassroots events for client Google, aimed at promoting coding education to elementary schools and supporting career changes to professionals. 
                      </p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Session Bassist</h5><span class="item-details">Freelance / 2011 - PRESENT</span>
                      <p class="item-description">Successfully led and directed dozens of musical groups with a focus on enhancing musical performance through effective communication and empathy.
                      <br>
                      <br>
                      Proven success in recording sessions, working with Grammy-awarded and -nominated artists and managing personal projects, with generated streams in the 10's of millions. 
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Experience part-->
                <div class="col-12 col-md-6">
                  <div class="col-block education">
                    <h3 class="col-title">Education</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">General Assembly Fellow</h5><span class="item-details">November 2022 - February 2023</span>
                      <p class="item-description">Completed 500+ hours of full-time, in-person immersive software engineering bootcamp with a 100% completion record on assignments, while maintaining perfect attendance throughout to reinforce commitment to software development growth and learning.
                        <br>
                        <br>
                      Demonstrated strong full-stack skills with the successful development of six projects, individually and in collaboration</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Berklee College of Music</h5><span class="item-details">Bachelor of the Arts <br> 2009 - 2013</span>
                      <p class="item-description">Completed a 4 year degree in Music Business / Mgmt, with a minor in Film Scoring. Focused on music theory fundamentals, bass guitar performance, and modern practices in the streaming music industry. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Skills section-->
            <div class="skills-section single-section">
              <div class="section-heading">
                <h2 class="section-title">Technical Skills</h2>
              </div>
              <div class="skill-lists">
                <div class="skill-set">
                  <h5 class="skill-info"><span class="skill-name">Languages: </span>
                  </h5>
                  <ul>
                    <li>JavaScript/ES6</li>
                    <li>HTML</li>
                    <li>CSS3</li>
                    <li>JSON</li>
                    <li>SQL</li>
                    <li>Python</li>
                    <li>C#</li>
                  </ul> 
                </div>
                <div class="skill-set">                     
                  <h5 class="skill-info"><span class="skill-name">Frameworks & Libraries:</span>
                  </h5>
                  <ul>
                    <li>React</li>
                    <li>Node.js</li>
                    <li>Express.js</li>
                    <li>Django</li>
                    <li>Axios</li>
                    <li>PeeWee</li>
                  </ul>  
                </div>
                <div class="skill-set">
                  <h5 class="skill-info"><span class="skill-name">Database:</span>
                  </h5>
                    <ul>
                      <li>Restful API's</li>
                      <li>MongoDB/Atlas</li>
                      <li>mongoose</li>
                      <li>PostgresQL</li>
                      <li>Cloudinary</li>
                    </ul>  
                </div>
                <div class="skill-set">
                  <h5 class="skill-info"><span class="skill-name">Concepts, etc:</span>
                  </h5>
                    <ul>
                      <li>Responsive Design</li>
                      <li>Big O Notation</li>
                      <li>Data Structures</li>
                      <li>Full Stack Development</li>
                      <li>Git, GitHub, GitFlow</li>
                      <li>OOP</li>
                      <li>Railway</li>
                      <li>Netlify</li>
                      <li>Heroku</li>
                    </ul>  
                </div>
              </div>
            </div>
  <!-- Portfolio lightbox-->
  <div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">Portfolio</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section">
              <div class="row">
              </div>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="https://alike-ga.netlify.app/" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/Alike.png">
                      <div class="item-content">
                        <h6 class="content-title">Alike</h6><span class="content-more">A social media app for showcasing technical projects</span>
                        <li><a href="https://github.com/RonLanzilotta" target="_blank"><i class="icon ion-logo-github"></i></a></li>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="https://nutrilogx.netlify.app/" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/Nutrilog.png">
                      <div class="item-content">
                        <h6 class="content-title">Nutrilog</h6><span class="content-more">An app-based nutrition logger with full CRUD capabilities</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="https://ronlanzilottawar.netlify.app/" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/WAR.png">
                      <div class="item-content">
                        <h6 class="content-title">W A R</h6><span class="content-more">My very first project,this famous card game written in pure JavaScript and accounts for all logical edge cases</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="https://lanzbass.com/" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/LANZBASS_Portfolio.png">
                      <div class="item-content">
                        <h6 class="content-title">LANZBASS Recording Portfolio</h6><span class="content-more">A full stack REACT app that archives my recording credits as a session bass player</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="https://github.com/RonLanzilotta/api-project" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/NASA_API.png">
                      <div class="item-content">
                        <h6 class="content-title">NASA's Photo of the Day API</h6><span class="content-more">An API built from a subset of NASA's daily astronomy photo of the day</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="https://famous-babka-11c036.netlify.app/" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/RickDex.png">
                      <div class="item-content">
                        <h6 class="content-title">RickDex</h6><span class="content-more">A full-CRUD front-end REACT app that consumes an API built by a classmate</span>
                      </div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact lightbox-->
  <div class="lightbox-wrapper" id="contact" data-simplebar>
    <div class="container">
      <div class="lightbox-close">
        <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">Get in Touch</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Contact section-->
            <div class="contact-section single-section">
              <div class="row">
                <!-- Contact form-->
                <div class="col-12 col-lg-7">
                  <form class="contact-form" id="contact-form" action="php/contact.php">
                    <h4 class="content-title">Message Me</h4>
                    <div class="row">
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text" name="name" placeholder="Name" required=""></div>
                      <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email" name="email" placeholder="Email" required=""></div>
                      <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text" name="subject" placeholder="Subject" required=""></div>
                      <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message" name="message" placeholder="Message" rows="5" required=""></textarea></div>
                      <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" type="submit">Send Message</button>
                        <p class="contact-feedback"></p>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Contact info-->
                <div class="col-12 col-lg-5">
                  <div class="contact-info">
                    <h4 class="content-title">Contact Info</h4>
                    <p class="info-description">Always available for freelance work if the right project comes along. Feel free to contact me!</p>
                    <ul class="list-unstyled list-info">
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-logo-ionic"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Name</h6><span class="info-value">Ron Lanzilotta</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-map"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Location</h6><span class="info-value">Brooklyn, NY</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-send"></i></span>
                          <div class="media-body info-details">
                            <h6 class="info-type">Email Me</h6><span class="info-value"><a href="mailto:rlanzilotta1010@gmail.com">rlanzilotta1010@gmail.com</a></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/animatedModal.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/lity.min.js"></script>
  <script src="js/simplebar.min.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>
  <script src="js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="js/custom.js"></script>
</body>

</html>